body{
    font-family: 'Open Sans', sans-serif; 
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
border: 0;
color: #FFF;
font-size: 15px;
font-weight: 700;
padding: 15px 35px;
}

nav > h2{
    color: #272727;
    font-size: 30px;
    font-weight: 700; 
}
nav,p{
    color: #474747;
}