body,
html {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
nav > h2 {
  color: #272727;
  font-size: 30px;
  font-weight: 700;
}
nav,
p {
  color: #474747;
}
header {
  background: hsla(347, 74%, 61%, 0.102);
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.nav {
  padding: 160px 200px 100px 100px;
}
.about {
  height: 200px;
  padding: 150px 200px 20px 200px ;
  background: #fff;
}

.banner img {
  max-width: 500px;
  width: 100%;
  height: auto;
display: flex;
}
.section-title{
padding: 20px 100px 20px 200px;
margin: 30px;
gap: 24;
 color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.section-description{
    display: flex;
    margin: 500px;
    padding: 50px 20px 20px 20px;
}
.itam-tag{
 display: flex;
 margin: 50px;
padding: 20px 200px 100px 20px;
gap: 100px;
}
.title{
 border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 20px 20px px;
}
.beautiful{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.flowers{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.make-tag{
 border-radius: 20px;
 background: rgba(39, 39, 39, 0.05); 
margin: 70px;
padding: 100px 170px 100px 40px;
gap: 400px;
display: flex;
width: 1000px;
height: 70px;
}
.body-tag{
 width: 1500px;
height: 500px;
flex-shrink: 0;
padding: 100px;
margin: 70px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

}
.point{
  display: flex;
   margin: 100px;
  padding:  0px 200px 60px 700px;
}
.main-tag{
margin: 100px;
padding: 20px 20px 20px 20px;
}
.my{
padding: 0px 0px 0px 350px;
margin: 50px;
}
.fonts{
 display: flex;
width: 342px;
height: 300px;
gap: 40px;
padding: 0px 0px 0px 100px;
}
.name{
    /* padding: 30px 30px 30px 30px; */
  margin: 100px;
 width: 1150px;
height: 449px;
}
.reader{
    background: #111010;
    padding: 10px 20px 10px 20px;
}
.is{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 15px;
font-weight: 400;
line-height: 20px;
}
.be{
  color: #e55473;
margin-left: 40px;
margin: 20px;
padding: 30px 200px 10px 500px;
font-size: 20px;
font-weight: 800;
}
.iam{
    padding: 0 0 0 450px;
    font-size: 15px;
}
.png{
  color: #fff;
}
.pngwing{
  margin: 70px;
  padding: 20px 50px 30px 20px;
  width: 1170px;
height: 350px;
}








